.calculadora{
    width: 315px;
    margin: 50px auto;
    border: 2px solid rgb(204, 31, 146);
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(206, 90, 36);
}

input[type="button"]{
    width: 65px;
    height: 65px;
    margin: 5px;
    font-size: 20px;
}

input[type="text"]{
    height: 80px;
    width:  295px;
    margin: 5px;
    font-size: 35px;
}